<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <p class="accordion-header mt-5" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4>Insert new fee</h4>
      </button>
    </p>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form class="item" action="/" method="post">
          <div class="row mb-3">
            <div class="col-2">
              <label for="feeId" class="col-form-label">Fee ID</label>
              <input type="number" class="form-control" name="feeId" placeholder="###" autocomplete="off">
            </div>
            <div class="col-7">
              <label for="feeDescription" class="col-form-label">Fee description</label>
              <input type="text" class="form-control" name="feeDescription" placeholder="Description" autocomplete="off">
            </div>
            <div class="col-2">
              <label for="feeAmount" class="col-form-label">Amount</label>
              <input type="number" class="form-control" name="feeAmount" placeholder="€€" autocomplete="off">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">
              <label for="feeDueDate" class="col-form-label">Due date</label>
              <input type="date" class="form-control" name="feeDueDate" placeholder="###" autocomplete="off">
            </div>
            <div class="col-2">
              <label for="feePaymentDate" class="col-form-label">Payment date</label>
              <input type="date" class="form-control" name="feePaymentDate" placeholder="###" autocomplete="off">
            </div>
            <div class="col-5">
              <label for="feePaymentReason" class="col-form-label">Payment reason</label>
              <input type="text" class="form-control" name="feePaymentReason" placeholder="Payment reason" autocomplete="off">
            </div>
            <div class="col-2">
              <label for="feePaymentMethod" class="col-form-label">Payment method</label>
              <input class="form-control" list="feePaymentMethodOptions" name="feePaymentMethod" placeholder="Type to search...">
              <datalist id="feePaymentMethodOptions">
                <option value="Bonifico IWBank">
                <option value="Bonifico CheBanca">
              </datalist>
            </div>
            <div class="form-group col-1">
              <label for="feePaid" class="col-form-label">Fee paid</label><br />
              <input type="checkbox" name="feePaid">
            </div>
          </div>
          <button class="btn btn-primary " type="submit" name="list" value=<%= listTitle %>>Add fee</button>
        </form>
      </div>
    </div>
  </div>
</div>
